<gap:plugin name="Device" value="org.apache.cordova.core.Device"/>
<gap:plugin name="File" value="org.apache.cordova.core.FileUtils" />
<gap:plugin name="FileTransfer" value="org.apache.cordova.core.FileTransfer" />
<gap:plugin name="Globalization" value="org.apache.cordova.core.globalization" />
<gap:plugin name="SplashScreen" value="org.apache.cordova.core.SplashScreen" />

<preference name="SplashScreen" value="mySplash"/>
<preference name="SplashScreenDelay" value="3000"/>
<preference name="InAppBrowserStorageEnabled" value="true"/>
<preference name="ErrorUrl" value="myErrorPage.html"/>
