<widget id="com.uckhandla.schoolquizapp" version="0.0.1">

	<name>School Quiz App</name>
	
	<description>
		SchoolQuizApp is an evaluation quiz for elementary school student for grade 6-7-8. 
	</description>
	
	<author email="ucksocial@gmail.com" href="http://uckhandla.com">
		Ujamshi Khandla
	</author>
	
	<content src="index.html" />
	<access origin="*" />

	<gap:platform name="android" />
	<preference name="android-minSdkVersion" value="10" />
	<preference name="android-maxSdkVersion" value="19" />
	<preference name="android-installLocation" value="preferExternal" />


	
	<preference name="phonegap-version" value="3.1.0">

	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
	<preference name="Orientation" value="default" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackgroundColor" value="0xffffffff" />
	<preference name="SplashScreen" value="mySplash" />
	<preference name="SplashScreenDelay" value="3000"/>
	<preference name="InAppBrowserStorageEnabled" value="true" />
	<preference name="ErrorUrl" value="myErrorPage.html" />
	
	<feature name="Device">
        	<param name="android-package" value="org.apache.cordova.device.Device" />
	</feature>
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.core.FileUtils" />
	</feature>
	<feature name="FileTransfer">
		<param name="android-package" value="org.apache.cordova.core.FileTransfer" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.core.SplashScreen" />
	</feature>
	<feature name="Globalization">
		<param name="android-package" value="org.apache.cordova.core.globalization" />
	</feature>

</widget>
    



